// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-size {
    height: 200px;
}

.product-card {
    margin-bottom: 20px;
}

.sticky-top {
    top: 80px;
}