<div class="col mb-6 product-card">
    <div class="card" style="width: 18rem;">
    <%= image_tag(product.image.url, class: "card-img-top card-size") %>
    <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.price %></p>
        <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
    </div>
    </div>
</div>